/*Mitarbeiter Frame*/
.frameEmp {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.overviewEmpP {
    display: flex;
}

.titleEmp {
    display: flex;
    justify-content: center;
    margin-top: -29px;
    font-size: 20px;
}

.basisiconEmp {
    display: flex;
    height: 31px;
}

/*Employees login frame*/
.empOverTableP, .empFeedbackTableEmpP {
    height: 112px;
    width: 64%;
    margin: 10px;
}

.empOverTopP {
    display: flex;
}

.empOverTextAreaP {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 500px;
    height: 146px;
    gap: 10px;
    margin-left: 150px;
    margin-top: -170px;
}

/*EmpFeedPan*/
.empFeedbackBackP {
    overflow: scroll !important;
}

.empFeedbackFormP {
    height: 500px;
    width: 400px;
    background-color: aliceblue;
    margin: 20px;
    margin-left: 220px;
    margin-top: -200px;
}

.empFeedbackCenterP {
    display: flex;
}

.empFeedbackBtnP {
    width: 80px;
    margin-left: 268px;
}

.calendarP {
    margin-left: 150px;
    margin-top: 60px;
}

.feedcalendarP {
    margin-left: 74%;
    margin-top: -75px;
}

.btnP {
    margin-left: -220px;
}

.testbtnpdf::part(control){
    background-color: transparent;
}