.feedtableEmpP {
    height: 200px;
    width: 64%;
    margin: 10px;
}

.centerP {
    display: flex;
    height: 500px;
    margin-top: -120px;
}

.formularP {
    height: 500px;
    background-color: aliceblue;
    width: 450px;
    margin-left: 200px;
}

.feedtableP {
    width: 63%;
    height: 250px;
}

.pdfimg img{
    height: 500px;
    width: 450px;

}


.feedbottomP {
    display: flex;
    width: 450px;
    gap: 108px;
    margin: 10px;
    margin-left: 200px;
}

.calendarFeedP {
    margin-left: 74%;
    margin-top: -160px;
}



