#window-34, #window-80, #window-45 {
    display: flex;
    justify-content: center;
}

#window-80 {
    display: flex;
    justify-content: center;
}

.frame {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.employeesMitP{
    overflow: scroll !important;
}

.feedbackP{
    overflow: scroll !important;
}

/*ubersicht*/
.tableP {
    height: 250px;
    background-color: white;
    width: 50%;
    margin: 10px;
}

.calendarP {
    display: flex;
    margin-left: 263px;
    margin-top: 60px;
}

.topP {
    display: flex;
    height: 200px;
    /* background-color: brown; */
}

.calendarMitP {
    margin-left: 263px;
    margin-top: 60px;
}

.tableMitP {
    height: 500px;
    background-color: antiquewhite;
    width: 50%;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.buttonP {
    display: flex;
    margin: 21px;
    margin-left: 200px;
    gap: 100px;
}

.emplyoeesMitP{
    overflow: scroll;
}

/*Feedback*/
/*Feedback*/
/*Feedback*/
.feedtableEmpP {
    height: 200px;
    background-color: white;
    width: 900px;
    margin: 10px;
}

.centerP {
    display: flex;
    height: 500px;
    margin: 10px;
    gap: 183px;
}

.formularP {
    height: 500px;
    background-color: aliceblue;
    width: 450px;
}

.feedtableP {
    width: 400px;
    background-color: black;
    height: 250px;
}

.calendarFeedP {
    margin-top: -40px;
}

.feedbottomP {
    display: flex;
    width: 450px;
    gap: 108px;
    margin: 10px;
}

/*Mitarbeiter Frame*/
/*Mitarbeiter Frame*/
/*Mitarbeiter Frame*/
.frameEmp {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.overviewEmpP {
    display: flex;
}

.titleEmp {
    display: flex;
    justify-content: center;
    margin-top: -29px;
    font-size: 20px;
}

.basisiconEmp {
    display: flex;
    height: 31px;
}

/*Employees login frame*/
/*Employees login frame*/
/*Employees login frame*/
.empOverTableP {
    height: 100px;
    background-color: azure;
    width: 900px;
    margin: 10px;
}

.empOverTopP {
    display: flex;
}

.empOverTextAreaP {
    display: flex;
    background-color: rgb(10, 136, 247);
    justify-content: center;
    padding: 10px;
    height: 150px;
    width: 250px;
    margin-top: -105px;
    margin-left: 150px;
}

.empFeedbackCalendarP{
    display: flex;
    margin: 10px;
}

/*EmpFeedPan*/
/*EmpFeedPan*/
/*EmpFeedPan*/
.empFeedbackBackP {
    /* display: inline; */
    overflow: scroll !important;
}

.empFeedbackFormP {
    height: 500px;
    width: 400px;
    background-color: aliceblue;
    margin: 20px;
    margin-left: 112px;
}

.empFeedbackTableFeedP {
    height: 200px;
    width: 400px;
    background-color: aqua;
    margin: 94px;
}

.empFeedbackCenterP {
    display: flex;
}

.empFeedbackTableEmpP {
    height: 100px;
    width: 700px;
    background-color: white;
    margin: 10px;
}

.empFeedbackBtnP {
    width: 80px;
    margin-left: 268px;
}

/*Zweites Panel von EmployeesPan*/
/*Zweites Panel von EmployeesPan*/
/*Zweites Panel von EmployeesPan*/
.backP {
    /* display: flex; */
    overflow: scroll !important; 
}

.oneEmptableP {
    height: 100px;
    width: 800px;
    margin: 10px;
    background-color: white;
}

.empFormP {
    height: 450px;
    width: 350px;
    background-color: aliceblue;
}

.schwerpunkP {
    height: 190px;
    width: 320px;
    background-color: azure;
}

.twocalendarP {
    height: 300px;
    width: 300px;
    background-color: azure;
}

.empCenterP {
    display: flex;
    margin: 10px;
    gap: 183px;
}

.twoBtnP {
    height: auto;
    width: auto;
    margin-left: 150px;
}

.meeting::part(label){
    color: black;
}

.menuIconbtn::part(control) {
    background-color: black;
    color: white;
}

.feedbackTf::part(control), .terminDF::part(control), .hinzugefuegtField::part(control), .vornameTf::part(control), .nachnameTf::part(control), .employeesIDNF::part(control){
    width: 250px;
}

.threeBtnP{
    display:flex;
    width: 900px;
}

.insertP {
    display: flex;
    margin-top: 312px;
    width: 900px;
}

.rsTAOverview::part(control) {/*Später wieder entfernen*/
    width: 340px;
}

.empOverTextAreaP {
    display: flex;
    width: 500px;
    height: 146px;
    gap: 10px;
}

.zielbtn {
    margin-left: 370px;
}



