#window-34, #window-80, #window-45 {
    display: flex;
    justify-content: center;
}

#window-80 {
    display: flex;
    justify-content: center;
}

.frame {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.employeesMitP{
    overflow: scroll !important;
}

.feedbackP{
    overflow: scroll !important;
}

/*ubersicht*/
.tableP {
    height: 500px;
    width: 63%;
    margin: 10px;
}


.topP {
    display: flex;
    height: 200px;
}

.calendarMitP {
    margin-left: 150px;
    margin-top: 60px;
}

.tableMitP {
    height: 500px;
    width: 63%;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.buttonP {
    display: flex;
    margin: 21px;
    margin-left: 200px;
    gap: 100px;
}


/*Zweites Panel von EmployeesPan*/
.backP {
    overflow: scroll !important; 
}

.oneEmptableP {
    height: 115px;
    width: 64%;
    margin: 10px;
}

.empFormP {
    height: 450px;
    width: 350px;
    background-color: aliceblue;
    margin-left: 150px;
    margin-top: -220px;

}

.schwerpunkP {
    height: 190px;
    width: 320px;
    background-color: azure;
    margin-top: -220px;

}

.twocalendarP {
    margin-left: 73%;
    margin-top: -81px;
}


.empCenterP {
    display: flex;
    margin: 10px;
    gap: 183px;
}

.twoBtnP {
    height: auto;
    width: auto;
    margin-left: 300px;
}

.meeting::part(label){
    color: black;
}

.menuIconbtn::part(control) {
    background-color: black;
    color: white;
}

.feedbackTf::part(control), .terminDF::part(control), .hinzugefuegtField::part(control), .vornameTf::part(control), .nachnameTf::part(control), .employeesIDNF::part(control){
    width: 250px;
}

.threeBtnP{
    display:flex;
    width: 900px;
    margin-left: 70px;
}

.insertP {
    display: flex;
    margin-top: 312px;
    width: 900px;
}

.rsTAOverview::part(control) {
    width: 340px;
}

.zielbtn {
    margin-left: 370px;
}